@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,:before,:after{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}:before,:after{--tw-content: 
""}
html{line-height:1.5;-webkit-text-size-adjust:100%;tab-size:4;font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"}body{margin:0;line-height:inherit}hr{height:0;color:inherit;border-top-width:1px}abbr:where([title]){-webkit-text-decoration:underline dotted;text-decoration:underline dotted}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}b,strong{font-weight:bolder}code,kbd,samp,pre{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit;border-collapse:collapse}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:inherit;color:inherit;margin:0;padding:0}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button;background-color:transparent;background-image:none}:-moz-focusring{outline:auto}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{margin:0}fieldset{margin:0;padding:0}legend{padding:0}ol,ul,menu{list-style:none;margin:0;padding:0}textarea{resize:vertical}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{opacity:1;color:#9ca3af}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}button,[role=button]{cursor:pointer}:disabled{cursor:default}img,svg,video,canvas,audio,iframe,embed,object{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[hidden]{display:none}*,:before,:after{--tw-translate-x: 0;--tw-translate-y: 0;--tw-rotate: 0;--tw-skew-x: 0;--tw-skew-y: 0;--tw-scale-x: 1;--tw-scale-y: 1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness: proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width: 0px;--tw-ring-offset-color: #fff;--tw-ring-color: rgb(59 130 246 / .5);--tw-ring-offset-shadow: 0 0 #0000;--tw-ring-shadow: 0 0 #0000;--tw-shadow: 0 0 #0000;--tw-shadow-colored: 0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: 
}
.container{width:100%}@media (min-width: 
640px){
.container{max-width:640px}}@media (min-width: 
768px){
.container{max-width:768px}}@media 
(min-width: 
1024px){.container{max-width:1024px}}@media 
(min-width: 
1280px){.container{max-width:1280px}}@media 
(min-width: 
1536px){.container{max-width:1536px}}.pointer-events-none{pointer-events:none}.pointer-events-auto{pointer-events:auto}.visible{visibility:visible}.\!visible{visibility:visible!important}.fixed{position:fixed}.absolute{position:absolute}.relative{position:relative}.inset-0{top:0px;right:0px;bottom:0px;left:0px}.-left-2{left:-.5rem}.-top-1{top:-.25rem}.-right-6{right:-1.5rem}.right-2{right:.5rem}.bottom-4{bottom:1rem}.-right-2{right:-.5rem}.bottom-0{bottom:0px}.-left-20{left:-5rem}.right-0{right:0px}.bottom-1{bottom:.25rem}.-top-3{top:-.75rem}.-right-3{right:-.75rem}.-top-4{top:-1rem}.top-0\.5{top:.125rem}.left-0\.5{left:.125rem}.top-0{top:0px}.left-0{left:0px}.bottom-5{bottom:1.25rem}.left-5{left:1.25rem}.-top-11{top:-2.75rem}.right-20{right:5rem}.-top-\[83px\]{top:-83px}.left-2{left:.5rem}.bottom-\[6px\]{bottom:6px}.-top-5{top:-1.25rem}.left-1\/2{left:50%}.top-1\/2{top:50%}.bottom-14{bottom:3.5rem}.-bottom-8{bottom:-2rem}.left-1{left:.25rem}.bottom-10{bottom:2.5rem}.top-3{top:.75rem}.right-4{right:1rem}.top-5{top:1.25rem}.left-4{left:1rem}.top-1\.5{top:.375rem}.top-1{top:.25rem}.-right-4{right:-1rem}.bottom-24{bottom:6rem}.left-8{left:2rem}.top-4{top:1rem}.top-8{top:2rem}.right-16{right:4rem}.bottom-36{bottom:9rem}.left-\[50\%\]{left:50%}.left-\[39\%\]{left:39%}.top-20{top:5rem}.-bottom-6{bottom:-1.5rem}.left-24{left:6rem}.-bottom-10{bottom:-2.5rem}.-left-1{left:-.25rem}.-bottom-7{bottom:-1.75rem}.-bottom-\[36px\]{bottom:-36px}.-left-\[5px\]{left:-5px}.bottom-12{bottom:3rem}.left-16{left:4rem}.-bottom-2{bottom:-.5rem}.-bottom-4{bottom:-1rem}.-top-8{top:-2rem}.-top-6{top:-1.5rem}.bottom-8{bottom:2rem}.-right-\[1rem\]{right:-1rem}.left-1\.5{left:.375rem}.-bottom-5{bottom:-1.25rem}.-left-16{left:-4rem}.bottom-2{bottom:.5rem}.bottom-20{bottom:5rem}.top-2{top:.5rem}.top-16{top:4rem}.bottom-44{bottom:11rem}.top-12{top:3rem}.left-9{left:2.25rem}.top-24{top:6rem}.left-20{left:5rem}.top-10{top:2.5rem}.z-10{z-index:10}.z-50{z-index:50}.-z-10{z-index:-10}.z-20{z-index:20}.z-\[99999\]{z-index:99999}.float-right{float:right}.m-1\.5{margin:.375rem}.m-1{margin:.25rem}.m-auto{margin:auto}.m-4{margin:1rem}.m-2{margin:.5rem}.m-0{margin:0}.my-3{margin-top:.75rem;margin-bottom:.75rem}.my-2{margin-top:.5rem;margin-bottom:.5rem}.my-1{margin-top:.25rem;margin-bottom:.25rem}.mx-3{margin-left:.75rem;margin-right:.75rem}.my-4{margin-top:1rem;margin-bottom:1rem}.mx-2{margin-left:.5rem;margin-right:.5rem}.mb-1\.5{margin-bottom:.375rem}.mb-1{margin-bottom:.25rem}.mb-4{margin-bottom:1rem}.mt-2{margin-top:.5rem}.mr-5{margin-right:1.25rem}.-mt-4{margin-top:-1rem}.mr-2{margin-right:.5rem}.ml-10{margin-left:2.5rem}.ml-2{margin-left:.5rem}.mb-2{margin-bottom:.5rem}.mt-1{margin-top:.25rem}.mr-1{margin-right:.25rem}.mt-4{margin-top:1rem}.mb-3{margin-bottom:.75rem}.ml-8{margin-left:2rem}.ml-1{margin-left:.25rem}.mt-10{margin-top:2.5rem}.-mb-4{margin-bottom:-1rem}.mr-3{margin-right:.75rem}.mb-96{margin-bottom:24rem}.mt-3{margin-top:.75rem}.-ml-8{margin-left:-2rem}.mb-7{margin-bottom:1.75rem}.mr-4{margin-right:1rem}.-mr-1{margin-right:-.25rem}.-ml-1\.5{margin-left:-.375rem}.-ml-1{margin-left:-.25rem}.mb-6{margin-bottom:1.5rem}.ml-3{margin-left:.75rem}.mt-6{margin-top:1.5rem}.ml-6{margin-left:1.5rem}.block{display:block}.flex{display:flex}.inline-flex{display:inline-flex}.table-cell{display:table-cell}.grid{display:grid}.hidden{display:none}.\!hidden{display:none!important}.h-10{height:2.5rem}.h-fit{height:-webkit-fit-content;height:-moz-fit-content;height:fit-content}.h-8{height:2rem}.h-full{height:100%}.h-1\.5{height:.375rem}.h-1{height:.25rem}.h-4{height:1rem}.h-12{height:3rem}.h-1\/2{height:50%}.h-14{height:3.5rem}.h-goblinGameboard{height:1600px}.h-gameboard{height:4200px}.h-60{height:15rem}.h-16{height:4rem}.h-5{height:1.25rem}.h-20{height:5rem}.h-6{height:1.5rem}.h-7{height:1.75rem}.h-3{height:.75rem}.h-5\/6{height:83.333333%}.h-52{height:13rem}.max-h-96{max-height:24rem}.max-h-0{max-height:0px}.w-10{width:2.5rem}
.w-full{width:100%}
.w-2\/3{width:66.666667%}
.w-fit{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}.w-48{width:12rem}.w-40{width:10rem}.w-1\.5{width:.375rem}.w-1{width:.25rem}.w-4{width:1rem}.w-12{width:3rem}.w-4\/5{width:80%}.w-1\/2{width:50%}.w-6{width:1.5rem}.w-14{width:3.5rem}.w-32{width:8rem}.w-52{width:13rem}.w-goblinGameboard{width:3200px}.w-gameboard{width:4200px}.w-3\/5{width:60%}.w-1\/4{width:25%}.w-8{width:2rem}.w-3{width:.75rem}.w-24{width:6rem}.w-5{width:1.25rem}.w-1\/3{width:33.333333%}.w-\[72px\]{width:72px}.w-20{width:5rem}.w-16{width:4rem}.w-28{width:7rem}.w-80{width:20rem}.w-5\/12{width:41.666667%}.w-64{width:16rem}.min-w-\[42\%\]{min-width:42%}.max-w-\[400px\]{max-width:400px}.max-w-\[0px\]{max-width:0px}.max-w-5xl{max-width:64rem}.flex-1{flex:1 
1 
0%}
.grow{flex-grow:1}
.origin-\[center_right\]{-webkit-transform-origin:center 
right;transform-origin:center 
right}.origin-top{-webkit-transform-origin:top;transform-origin:top}.translate-x-1\.5{--tw-translate-x: 
.375rem;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.translate-x-1{--tw-translate-x: 
.25rem;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.-translate-x-1\/2{--tw-translate-x: 
-50%;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.-translate-y-1\/2{--tw-translate-y: 
-50%;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.-translate-y-20{--tw-translate-y: 
-5rem;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.rotate-180{--tw-rotate: 
180deg;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.-rotate-\[20deg\]{--tw-rotate: 
-20deg;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.rotate-0{--tw-rotate: 
0deg;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.scale-\[1\.5\]{--tw-scale-x: 
1.5;--tw-scale-y: 
1.5;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.scale-\[4\]{--tw-scale-x: 
4;--tw-scale-y: 
4;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.scale-110{--tw-scale-x: 
1.1;--tw-scale-y: 
1.1;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.scale-75{--tw-scale-x: 
.75;--tw-scale-y: 
.75;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.-scale-x-100{--tw-scale-x: 
-1;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.scale-x-0{--tw-scale-x: 
0;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.scale-y-0{--tw-scale-y: 
0;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.transform{-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.animate-float{-webkit-animation:floating 
3s 
ease-in-out 
infinite;animation:floating 
3s 
ease-in-out 
infinite}.animate-pulsate{-webkit-animation:pulsate 
1s 
ease-in-out 
infinite;animation:pulsate 
1s 
ease-in-out 
infinite}.cursor-pointer{cursor:pointer}.cursor-not-allowed{cursor:not-allowed}.select-text{-webkit-user-select:text;user-select:text}.resize{resize:both}.list-disc{list-style-type:disc}.list-none{list-style-type:none}.flex-col{flex-direction:column}.flex-wrap{flex-wrap:wrap}.items-start{align-items:flex-start}.items-end{align-items:flex-end}.items-center{align-items:center}.justify-start{justify-content:flex-start}.justify-center{justify-content:center}.justify-between{justify-content:space-between}.justify-around{justify-content:space-around}.justify-evenly{justify-content:space-evenly}.gap-2{gap:.5rem}.gap-x-2{-webkit-column-gap:.5rem;column-gap:.5rem}.space-x-2>:not([hidden])~:not([hidden]){--tw-space-x-reverse: 
0;margin-right:calc(.5rem 
* 
var(--tw-space-x-reverse));margin-left:calc(.5rem 
* 
calc(1 
- 
var(--tw-space-x-reverse)))}.overflow-visible{overflow:visible}
.overflow-scroll{overflow:scroll}
.overflow-y-auto{overflow-y:auto}
.text-ellipsis{text-overflow:ellipsis}.whitespace-normal{white-space:normal}.whitespace-nowrap{white-space:nowrap}.break-all{word-break:break-all}.rounded-sm{border-radius:.125rem}.rounded{border-radius:.25rem}.rounded-md{border-radius:.375rem}.rounded-full{border-radius:9999px}.border{border-width:1px}.border-2{border-width:2px}.border-y{border-top-width:1px;border-bottom-width:1px}.border-t{border-top-width:1px}.border-b{border-bottom-width:1px}.border-t-2{border-top-width:2px}.border-white{--tw-border-opacity: 
1;border-color:rgb(255 
255 
255 
/ 
var(--tw-border-opacity))}.border-black{--tw-border-opacity: 
1;border-color:rgb(0 
0 
0 
/ 
var(--tw-border-opacity))}.bg-brown-200{--tw-bg-opacity: 
1;background-color:rgb(231 
168 
115 
/ 
var(--tw-bg-opacity))}.bg-brown-400{--tw-bg-opacity: 
1;background-color:rgb(150 
105 
83 
/ 
var(--tw-bg-opacity))}.bg-white{--tw-bg-opacity: 
1;background-color:rgb(255 
255 
255 
/ 
var(--tw-bg-opacity))}.bg-brown-600{--tw-bg-opacity: 
1;background-color:rgb(185 
111 
80 
/ 
var(--tw-bg-opacity))}.bg-silver-300{--tw-bg-opacity: 
1;background-color:rgb(191 
203 
218 
/ 
var(--tw-bg-opacity))}.bg-brown-300{--tw-bg-opacity: 
1;background-color:rgb(194 
134 
105 
/ 
var(--tw-bg-opacity))}.bg-blue-600{--tw-bg-opacity: 
1;background-color:rgb(13 
135 
255 
/ 
var(--tw-bg-opacity))}.bg-green-background{--tw-bg-opacity: 
1;background-color:rgb(99 
199 
77 
/ 
var(--tw-bg-opacity))}.bg-black{--tw-bg-opacity: 
1;background-color:rgb(0 
0 
0 
/ 
var(--tw-bg-opacity))}.bg-error{--tw-bg-opacity: 
1;background-color:rgb(228 
59 
68 
/ 
var(--tw-bg-opacity))}.bg-green-600{--tw-bg-opacity: 
1;background-color:rgb(22 
163 
74 
/ 
var(--tw-bg-opacity))}.bg-\[\#7C4700\]{--tw-bg-opacity: 
1;background-color:rgb(124 
71 
0 
/ 
var(--tw-bg-opacity))}.bg-transparent{background-color:transparent}.bg-repeat{background-repeat:repeat}.fill-white{fill:#fff}.object-contain{object-fit:contain}.p-1{padding:.25rem}.p-2{padding:.5rem}.p-0\.5{padding:.125rem}.p-0{padding:0}.p-4{padding:1rem}.px-0\.5{padding-left:.125rem;padding-right:.125rem}.px-0{padding-left:0;padding-right:0}.px-1{padding-left:.25rem;padding-right:.25rem}.py-2{padding-top:.5rem;padding-bottom:.5rem}.px-5{padding-left:1.25rem;padding-right:1.25rem}.px-2{padding-left:.5rem;padding-right:.5rem}.py-1{padding-top:.25rem;padding-bottom:.25rem}.pl-7{padding-left:1.75rem}.pt-1{padding-top:.25rem}.pt-8{padding-top:2rem}.pb-2{padding-bottom:.5rem}.pt-5{padding-top:1.25rem}.pb-1{padding-bottom:.25rem}.pt-2{padding-top:.5rem}.pr-1{padding-right:.25rem}.pl-2{padding-left:.5rem}.pl-2\.5{padding-left:.625rem}.pt-3{padding-top:.75rem}.text-center{text-align:center}.text-justify{text-align:justify}.text-xs{font-size:.75rem;line-height:1rem}.text-sm{font-size:.875rem;line-height:1.25rem}.text-\[0\.55rem\]{font-size:.55rem}.text-xxs{font-size:.6rem}.text-\[10px\]{font-size:10px}.text-\[8px\]{font-size:8px}.text-3xl{font-size:1.875rem;line-height:2.25rem}.text-base{font-size:1rem;line-height:1.5rem}.text-lg{font-size:1.125rem;line-height:1.75rem}.text-xl{font-size:1.25rem;line-height:1.75rem}.capitalize{text-transform:capitalize}.text-white{--tw-text-opacity: 
1;color:rgb(255 
255 
255 
/ 
var(--tw-text-opacity))}.text-red-500{--tw-text-opacity: 
1;color:rgb(239 
68 
68 
/ 
var(--tw-text-opacity))}.underline{-webkit-text-decoration-line:underline;text-decoration-line:underline}.opacity-75{opacity:.75}.opacity-30{opacity:.3}.opacity-100{opacity:1}.opacity-0{opacity:0}.opacity-20{opacity:.2}.opacity-50{opacity:.5}.shadow-sm{--tw-shadow: 
0 
1px 
2px 
0 
rgb(0 
0 
0 
/ 
.05);--tw-shadow-colored: 
0 
1px 
2px 
0 
var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 
0 
0 
#0000),var(--tw-ring-shadow, 
0 
0 
#0000),var(--tw-shadow)}.shadow-lg{--tw-shadow: 
0 
10px 
15px 
-3px 
rgb(0 
0 
0 
/ 
.1), 
0 
4px 
6px 
-4px 
rgb(0 
0 
0 
/ 
.1);--tw-shadow-colored: 
0 
10px 
15px 
-3px 
var(--tw-shadow-color), 
0 
4px 
6px 
-4px 
var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 
0 
0 
#0000),var(--tw-ring-shadow, 
0 
0 
#0000),var(--tw-shadow)}.shadow-inner{--tw-shadow: 
inset 
0 
2px 
4px 
0 
rgb(0 
0 
0 
/ 
.05);--tw-shadow-colored: 
inset 
0 
2px 
4px 
0 
var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 
0 
0 
#0000),var(--tw-ring-shadow, 
0 
0 
#0000),var(--tw-shadow)}.shadow{--tw-shadow: 
0 
1px 
3px 
0 
rgb(0 
0 
0 
/ 
.1), 
0 
1px 
2px 
-1px 
rgb(0 
0 
0 
/ 
.1);--tw-shadow-colored: 
0 
1px 
3px 
0 
var(--tw-shadow-color), 
0 
1px 
2px 
-1px 
var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 
0 
0 
#0000),var(--tw-ring-shadow, 
0 
0 
#0000),var(--tw-shadow)}.shadow-black{--tw-shadow-color: 
#000;--tw-shadow: 
var(--tw-shadow-colored)}.blur{--tw-blur: 
blur(8px);-webkit-filter:var(--tw-blur) 
var(--tw-brightness) 
var(--tw-contrast) 
var(--tw-grayscale) 
var(--tw-hue-rotate) 
var(--tw-invert) 
var(--tw-saturate) 
var(--tw-sepia) 
var(--tw-drop-shadow);filter:var(--tw-blur) 
var(--tw-brightness) 
var(--tw-contrast) 
var(--tw-grayscale) 
var(--tw-hue-rotate) 
var(--tw-invert) 
var(--tw-saturate) 
var(--tw-sepia) 
var(--tw-drop-shadow)}.drop-shadow-md{--tw-drop-shadow: 
drop-shadow(0 
4px 
3px 
rgb(0 
0 
0 
/ 
.07)) 
drop-shadow(0 
2px 
2px 
rgb(0 
0 
0 
/ 
.06));-webkit-filter:var(--tw-blur) 
var(--tw-brightness) 
var(--tw-contrast) 
var(--tw-grayscale) 
var(--tw-hue-rotate) 
var(--tw-invert) 
var(--tw-saturate) 
var(--tw-sepia) 
var(--tw-drop-shadow);filter:var(--tw-blur) 
var(--tw-brightness) 
var(--tw-contrast) 
var(--tw-grayscale) 
var(--tw-hue-rotate) 
var(--tw-invert) 
var(--tw-saturate) 
var(--tw-sepia) 
var(--tw-drop-shadow)}.filter{-webkit-filter:var(--tw-blur) 
var(--tw-brightness) 
var(--tw-contrast) 
var(--tw-grayscale) 
var(--tw-hue-rotate) 
var(--tw-invert) 
var(--tw-saturate) 
var(--tw-sepia) 
var(--tw-drop-shadow);filter:var(--tw-blur) 
var(--tw-brightness) 
var(--tw-contrast) 
var(--tw-grayscale) 
var(--tw-hue-rotate) 
var(--tw-invert) 
var(--tw-saturate) 
var(--tw-sepia) 
var(--tw-drop-shadow)}.transition-all{transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.transition{transition-property:color,background-color,border-color,fill,stroke,opacity,box-shadow,-webkit-text-decoration-color,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.transition-opacity{transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.transition-transform{transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.duration-500{transition-duration:.5s}.duration-200{transition-duration:.2s}.duration-700{transition-duration:.7s}.ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.ease-in{transition-timing-function:cubic-bezier(.4,0,1,1)}.text-shadow{text-shadow:1px 
1px 
black}.img-highlight{-webkit-filter:drop-shadow(1px 
1px 
0px 
white) 
drop-shadow(-1px 
0px 
0px 
white) 
drop-shadow(0px 
-1px 
0px 
white);filter:drop-shadow(1px 
1px 
0px 
white) 
drop-shadow(-1px 
0px 
0px 
white) 
drop-shadow(0px 
-1px 
0px 
white)}body{font-family:"Press 
Start 
2p",sans-serif;overflow:hidden;text-shadow:1px 
1px 
black;font-size:12px}button:disabled{cursor:not-allowed}@media 
screen 
and 
(min-width: 
480px){body{font-size:16px}}*{-webkit-user-select:none;user-select:none}input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield;-webkit-user-select:auto;user-select:auto}.modal-content{background:transparent;border:none}.modal-dialog-scrollable 
.modal-content{overflow:initial}.carousel-control-next,.carousel-control-prev{opacity:1}.carousel-indicators{bottom:-42px}.accordion-button{outline:none!important;box-shadow:none!important}.accordion-button:after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGAgMAAACDazdoAAAABGdBTUEAALGPC/xhBQAAAAxQTFRFAAAAi5u0////GBQl8APxewAAAAF0Uk5TAEDm2GYAAAAbSURBVAjXY7D/w/BqNcOt5Qxmcxh4CxiYDwAAQhsGZC4WqusAAAAASUVORK5CYII=)!important}img{image-rendering:-moz-crisp-edges;image-rendering:pixelated}@-webkit-keyframes 
floating{0%{-webkit-transform:translate(0,0px);transform:translate(0)}65%{-webkit-transform:translate(0,10px);transform:translateY(10px)}to{-webkit-transform:translate(0,-0px);transform:translateY(-0px)}}@keyframes 
floating{0%{-webkit-transform:translate(0,0px);transform:translate(0)}65%{-webkit-transform:translate(0,10px);transform:translateY(10px)}to{-webkit-transform:translate(0,-0px);transform:translateY(-0px)}}@-webkit-keyframes 
marquee-like-effect{0%{-webkit-transform:translateX(100%);transform:translate(100%)}to{-webkit-transform:translateX(-100%);transform:translate(-100%)}}@keyframes 
marquee-like-effect{0%{-webkit-transform:translateX(100%);transform:translate(100%)}to{-webkit-transform:translateX(-100%);transform:translate(-100%)}}@-webkit-keyframes 
ellipsis{to{-webkit-transform:translateY(-6em);transform:translateY(-6em)}}@keyframes 
ellipsis{to{-webkit-transform:translateY(-6em);transform:translateY(-6em)}}@-webkit-keyframes 
pulsate{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.5);transform:scale(1.5)}to{-webkit-transform:scale(1);transform:scale(1)}}@keyframes 
pulsate{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.5);transform:scale(1.5)}to{-webkit-transform:scale(1);transform:scale(1)}}.two-line-ellipsis{text-overflow:ellipsis;overflow:hidden;width:100%;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}.loading{display:inline-block;overflow:hidden;height:1.5rem;line-height:1.5em;vertical-align:text-bottom}.loading:after{display:inline-table;white-space:pre;text-align:left;content:"\a.\a..\a...";-webkit-animation:ellipsis 
1s 
steps(4) 
infinite;animation:ellipsis 
1s 
steps(4) 
infinite}.npc-shadow:after{content:"";height:14px;width:28px;border-radius:50%;background:#32323273;position:absolute;z-index:0;bottom:-43px;left:7px}.scrollable::-webkit-scrollbar{-webkit-appearance:none;width:10px;border-radius:5px}.scrollable::-webkit-scrollbar-track{box-shadow:inset 
0 
0 
6px 
#0000004d;background-color:#f5f5f5;border:2px 
solid 
black;border-radius:5px}.scrollable::-webkit-scrollbar-thumb{border-radius:5px;border:2px 
solid 
black;background-color:#eea368}.running{-webkit-animation-duration:10s;animation-duration:10s;-webkit-animation-name:running;animation-name:running;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;transition-timing-function:linear}@-webkit-keyframes 
running{0%{-webkit-transform:translateX(0) 
scaleX(1);transform:translate(0) 
scaleX(1);-webkit-animation-timing-function:linear;animation-timing-function:linear}49%{-webkit-transform:translateX(200px) 
scaleX(1);transform:translate(200px) 
scaleX(1);-webkit-animation-timing-function:linear;animation-timing-function:linear}50%{-webkit-transform:translateX(200px) 
scaleX(-1);transform:translate(200px) 
scaleX(-1);-webkit-animation-timing-function:linear;animation-timing-function:linear}to{-webkit-transform:translateX(0) 
scaleX(-1);transform:translate(0) 
scaleX(-1);-webkit-animation-timing-function:linear;animation-timing-function:linear}}@keyframes 
running{0%{-webkit-transform:translateX(0) 
scaleX(1);transform:translate(0) 
scaleX(1);-webkit-animation-timing-function:linear;animation-timing-function:linear}49%{-webkit-transform:translateX(200px) 
scaleX(1);transform:translate(200px) 
scaleX(1);-webkit-animation-timing-function:linear;animation-timing-function:linear}50%{-webkit-transform:translateX(200px) 
scaleX(-1);transform:translate(200px) 
scaleX(-1);-webkit-animation-timing-function:linear;animation-timing-function:linear}to{-webkit-transform:translateX(0) 
scaleX(-1);transform:translate(0) 
scaleX(-1);-webkit-animation-timing-function:linear;animation-timing-function:linear}}.pointing{-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-name:pointing;animation-name:pointing;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;transition-timing-function:ease}@-webkit-keyframes 
pointing{0%{-webkit-transform:translateX(0);transform:translate(0)}50%{-webkit-transform:translateX(10px);transform:translate(10px)}to{-webkit-transform:translateX(0);transform:translate(0)}}@keyframes 
pointing{0%{-webkit-transform:translateX(0);transform:translate(0)}50%{-webkit-transform:translateX(10px);transform:translate(10px)}to{-webkit-transform:translateX(0);transform:translate(0)}}.hover\:cursor-pointer:hover{cursor:pointer}.hover\:bg-brown-300:hover{--tw-bg-opacity: 
1;background-color:rgb(194 
134 
105 
/ 
var(--tw-bg-opacity))}.hover\:fill-brown-300:hover{fill:#c28669}.hover\:text-blue-500:hover{--tw-text-opacity: 
1;color:rgb(59 
130 
246 
/ 
var(--tw-text-opacity))}.hover\:text-white:hover{--tw-text-opacity: 
1;color:rgb(255 
255 
255 
/ 
var(--tw-text-opacity))}.hover\:opacity-70:hover{opacity:.7}.hover\:img-highlight:hover{-webkit-filter:drop-shadow(1px 
1px 
0px 
white) 
drop-shadow(-1px 
0px 
0px 
white) 
drop-shadow(0px 
-1px 
0px 
white);filter:drop-shadow(1px 
1px 
0px 
white) 
drop-shadow(-1px 
0px 
0px 
white) 
drop-shadow(0px 
-1px 
0px 
white)}.active\:bg-brown-200:active{--tw-bg-opacity: 
1;background-color:rgb(231 
168 
115 
/ 
var(--tw-bg-opacity))}.disabled\:opacity-50:disabled{opacity:.5}.group:hover 
.group-hover\:img-highlight{-webkit-filter:drop-shadow(1px 1px 
0px 
white) 
drop-shadow(-1px 
0px 
0px 
white) 
drop-shadow(0px 
-1px 
0px 
white);filter:drop-shadow(1px 
1px 
0px 
white) 
drop-shadow(-1px 
0px 
0px 
white) 
drop-shadow(0px 
-1px 
0px 
white)}@media 
(min-width: 
640px){.sm\:right-10{right:2.5rem}.sm\:right-2{right:.5rem}.sm\:-left-24{left:-6rem}.sm\:left-4{left:1rem}.sm\:right-4{right:1rem}.sm\:-left-3{left:-.75rem}.sm\:-top-7{top:-1.75rem}.sm\:mx-8{margin-left:2rem;margin-right:2rem}.sm\:mr-2{margin-right:.5rem}.sm\:mr-auto{margin-right:auto}.sm\:mt-8{margin-top:2rem}.sm\:block{display:block}.sm\:flex{display:flex}.sm\:h-5{height:1.25rem}.sm\:w-56{width:14rem}.sm\:w-6{width:1.5rem}.sm\:w-12{width:3rem}.sm\:w-1\/3{width:33.333333%}.sm\:w-3\/4{width:75%}.sm\:w-60{width:15rem}.sm\:-rotate-\[30deg\]{--tw-rotate: 
-30deg;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.sm\:scale-100{--tw-scale-x: 
1;--tw-scale-y: 
1;-webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skewX(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y));transform:translate(var(--tw-translate-x),var(--tw-translate-y)) 
rotate(var(--tw-rotate)) 
skew(var(--tw-skew-x)) 
skewY(var(--tw-skew-y)) 
scaleX(var(--tw-scale-x)) 
scaleY(var(--tw-scale-y))}.sm\:text-xs{font-size:.75rem;line-height:1rem}.sm\:text-sm{font-size:.875rem;line-height:1.25rem}.sm\:text-\[10px\]{font-size:10px}.sm\:text-base{font-size:1rem;line-height:1.5rem}.sm\:text-lg{font-size:1.125rem;line-height:1.75rem}.sm\:opacity-0{opacity:0}.sm\:hover\:\!opacity-100:hover{opacity:1!important}.group:hover 
.sm\:group-hover\:opacity-100{opacity:1}}@media 
(min-width: 
768px){.md\:mb-0{margin-bottom:0}.md\:-mb-2{margin-bottom:-.5rem}.md\:mr-2{margin-right:.5rem}.md\:block{display:block}.md\:flex{display:flex}.md\:hidden{display:none}.md\:w-56{width:14rem}.md\:w-1\/3{width:33.333333%}.md\:w-1\/2{width:50%}.md\:w-4\/5{width:80%}.md\:flex-row{flex-direction:row}.md\:pt-2{padding-top:.5rem}}@media 
(min-width: 
1024px){.lg\:w-fit{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}}

.scroll-container  {
  height: 1800px;
}

.house {
    position: relative;
  top: 1400px;
  left: 1500px;
    
}