@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "coder";
  src: local("coder"), url(font.woff) format("woff");
}

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  
  background-color: "#4C4C4C";
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

img {
  width: 220px;
}

mintButton {
background: #92CD41;
display: inline-block;
position: relative;
text-align: center;
font-size: 30px;
padding: 20px;
font-family: "Press Start 2P", cursive;
text-decoration: none;
color: white;
box-shadow: inset -4px -4px 0px 0px #4AA52E;
box-sizing: border-box;
left: -6px;
top: 0;
border-left: 6px black solid;
border-right: 6px black solid;
top: -6px;
left: 0;
border-top: 6px black solid;
border-bottom: 6px black solid;
box-sizing: content-box;
content: "";
font-family: "Press Start 2P", cursive;
}


viewCollection {
background: #317CDD;
display: inline-block;
position: relative;
text-align: center;
font-size: 30px;
padding: 20px;
font-family: "Press Start 2P", cursive;
text-decoration: none;
color: white;
box-shadow: inset -4px -4px 0px 0px #1e4d8a;
box-sizing: border-box;
left: -6px;
top: 0;
border-left: 6px black solid;
border-right: 6px black solid;
top: 10px;
margin-bottom: 15px;
left: 0;
border-top: 6px black solid;
border-bottom: 6px black solid;
box-sizing: content-box;
content: "";
font-family: "Press Start 2P", cursive;
}

spaceText {
font-family: "Press Start 2P", cursive;
  word-spacing: -40px;
}
