@font-face {
  font-family: 'superstar';
  src: local('superstar'), url('./fonts/Antipasto.ttf') format('truetype');
}


body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'MONOSPACE', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  color: #BBA14F !important;
  font-size: 2.5em;
}


html,
body {
  overflow-y: auto;
  height: 100%;
}


body {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'superstar', 'monospace';
  text-transform: uppercase;
  color: #fff;
}

footer .a:hover {
  fill: '#DA4567';
}

.MuiToolbar-regular {
  color: #e0e3bd;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wallet-button {
  color: #fff;
  font-family: 'monospace', sans-serif !important;
  font-size: 1.2rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
  
}
.wallet-button:hover {
  color: #BBA14F !important;
}

.navLink {
  color: #fff !important;
}

.navLink:hover {
  color: #BBA14F !important;
}



.shinyButton {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #BBA14F !important;
  border-radius: 15px;
  font-size: 1rem;
  padding-left: 5px;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.shinyButtonDisabled {
  border-radius: 15px;
  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.shinyButton:hover {
  background-color: #1D2951 !important;
  color: #fff !important;
}

.shinyButtonSecondary {
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  background-color: #BBA14F !important;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}



.MuiAlert-filledWarning{
  background-color: #BBA14F !important;

}

.account {
  display: flex;
  align-items: center;
}

.account > img,
.account > div {
  margin-right: 8px;
}

.shinyButtonDisabledSecondary {
  border-radius: 15px;

  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.shinyButtonSecondary:hover {
  background-color: #1D2951 !important;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}



.MuiAppBar-positionSticky {
  position: relative !important;
}
.ijwpow {
  background-color: rgba(255, 255, 255, 0) !important;
}
.makeStyles-appBar-2 {
  background-color: rgba(255, 255, 255, 0) !important;
}
.walletconnecttitle {
  color: #322f32;
}
.walletconnecttitle:hover {
  color: #BBA14F;
}
.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #fff !important;
}
.MuiButton-containedPrimary{
  background: #BBA14F !important;
}

.MuiButton-containedPrimary:hover{
  background: #5f657a !important;
}

.wallet-button {
  color: #fff;
  font-family: 'monospace', sans-serif !important;
  font-size: 1.2rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}
.wallet-button:hover {
  color: #BBA14F !important;
}
.walletconnecttitle {
  color: #322f32;
}
.walletconnecttitle:hover {
  color: #BBA14F;
}

.dropbtn {
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}



